@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>INGRESE DATOS DE LA MATERIA</h2>
<br />


@using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdMateria)

    if (Model.IdMateria != 0)
    {
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.IdMateria)
                @Html.TextBoxFor(model => model.IdMateria, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Nombre)
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            <label style="color: red"> @Html.ValidationMessageFor(model => model.Nombre) </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Costo)
            @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
            <label style="color:red"> @Html.ValidationMessageFor(model => model.Costo)</label>
        </div>
    </div>

    <hr />
    <button class="btn btn-success" type="submit"> HECHO </button>
    <a href="@Url.Action("GetAll","Materia")" class="btn btn-outline-warning">VOLVER</a>

}
